<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
    <h1>게시판 웹 서비스</h1>
    <form action="join/save" method="post">
    <div class="col-md-12">
        <!-- 로그인 기능 영력 -->
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-primary" th:onclick="|location.href='@{/posts/save}'|" type="button">글 등록하러 가기
                </button>
                <span th:if="${userName}"> <!-- userName이 존재하는 경우 -->
                Logged in as : <span id="userE" th:text="${userName}"></span>
                <a href="/logout" role="button" class="btn btn-info active">Logout</a>
                </span>

                <span th:if="${userName == null}"> <!-- userName이 존재하지 않는 경우 -->
                <button class="btn btn-success active" th:onclick="|location.href='@{/oauth2/authorization/google}'"
                        type="button">Google Login</button>
                </span>
            </div>
        </div>

    </div>
    </form>
</th:block>
</html>