<div style="height: 90%;">
    <div class="chat-container" style="height: 90%;">
        <!-- 채팅 창 내용 -->
        <div id="chatContent" style="height: 100%;">
            <!-- 여기에 채팅 내용이 표시됩니다. -->
        </div>
        <!-- 채팅 입력 폼 -->

            <input type="text" id="chatOutput" placeholder="채팅 입력" style = "width: -webkit-fill-available;">
            <button type="submit" id="chatButton" style = "width: -webkit-fill-available;">전송</button>

    </div>
    <script src="/js/dialog.js"></script>
</div>
