<form class="container" action ="/mongo/save" method="post">
    <div class="mb-3">
        <label  class="form-label">id</label>
        <input type="text" class="form-control" name="id">
    </div>
    <div class="mb-3">
        <label  class="form-label">nickName</label>
        <textarea class="form-control" rows="3" name="nickName"></textarea>
    </div>
    <div class="mb-3">
        <label  class="form-label">head</label>
        <textarea class="form-control" rows="3" name="head"></textarea>
    </div>
    <div class="mb-3">
        <label  class="form-label">body</label>
        <textarea class="form-control" rows="3" name="body"></textarea>
    </div>
    <div class="mb-3">
        <label  class="form-label">foot</label>
        <textarea class="form-control" rows="3" name="foot"></textarea>
    </div>
    <div class="mb-3">
        <label  class="form-label">hand</label>
        <textarea class="form-control" rows="3" name="hand"></textarea>
    </div>
    <div class="mb-3">
        <label  class="form-label">ring</label>
        <textarea class="form-control" rows="3" name="ring"></textarea>
    </div>
    <button  type="submit" class="btn btn-primary">Submit</button>
</form>
