

<div>
    <style>
        #matchCancel {
            display: none;
            margin-top: 30px;
        }

        .loader {
            display: none;
            border: 4px solid rgba(0, 0, 0, 0.1);
            border-left: 4px solid #333;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            animation: spin 1s linear infinite;
            margin: auto;
        }

        .button-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>

<div class="main-container">
    <!-- 매칭 시작 버튼 -->
    <div class="button-container">
        <button id="matchStartButton">매칭 시작</button>

        <div id="loader" class="loader"></div>
        <button id="matchCancel">매칭 취소</button>
    </div>
</div>
    <script src="/js/standby.js"></script>
</div>
