<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!--JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- 캘린더 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">

</head>
<body>

<h2>Join</h2>
<form action="/join" id="joinForm" method="post">
    <br>
    <label for="id">ID:</label>
    <input type="text" ID="id" name="id" required>
    <button type="button" onclick="checkDuplicate()">ID 중복 확인</button>
    <div id="idduplicatecheck"></div>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="passWord" required>
    <br>
    <label for="nickName"></label>
    <input type="text" id="nickName" name="nickName" required>
    <br>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required>

    <br>
    <!-- 날짜 -->
    <div>
        <label for="birthday">Birthday:</label>
        <input type="text" id="birthday" name="birthday" class="datepicker">
    </div>
    <!-- 날짜; -->

    <br>
    <button type="submit">Sign up</button>

</form>


<!-- 캘린더 -->
<script>
    $(document).ready(function(){
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd', // 선택한 날짜의 포맷을 지정합니다.
            autoclose: true // 날짜 선택 후 자동으로 달력을 닫습니다.
        });
    });
</script>

<script src="/js/search/ID_Duplicate_Check_JS.js"></script>


</body>
</html>
