<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p th:text="${#temporals.format(time, 'yyyy-MM-dd')}"></p>

<div th:object="${userE}">

    <p th:text="|Name : *{id}|"></p>
    <p th:text="|Nickname : *{nickName}|"></p>
    <p th:text="|Password : *{passWord}|"></p>
    <p th:text="|Email : *{email}|"></p>
    <p th:text="|BirthDay : *{birthDay}|"></p>

    <ul th:each="Record : *{records}">
        <li th:text="${Record}"></li>
        <span th:if="${Record == '롤 골드'}">(개쩌네)</span> <!-- 만약 이력 값이 '롤 골드' 라면 개쩌내를 출력하라 -->
    </ul>

</div>
</body>
</html>